* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    color: white;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

.app__videos {
    position: relative;
    height: 750px;
    background-color: white;
    overflow: scroll;
    width: 100%;
    max-width: 400px;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
}

.app__videos::-webkit-scrollbar {
    display: none;
}

.app__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.video {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-snap-align: start;
}

.video__player {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: black;
}

.videoSidebar {
    position: absolute;
    top: 48%;
    right: 10px;
}

.videoSidebar .material-icons {
    font-size: 28px;
    cursor: pointer;
}

.videoSidebar__button {
    padding: 20px;
    text-align: center;
}

.videoFooter {
    position: relative;
    bottom: 150px;
    margin-left: 20px;
    color: white;
    display: flex;
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}

.videoFooter__text {
    flex: 1;
}

.videoFooter__text h3 {
    padding-bottom: 20px;
}

.videoFooter__icon {
    position: absolute;
}

.videoFooter__ticker {
    width: 400px;
    display: flex;
    align-items: center;
}

.videoFooter__ticker marquee {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

.videoFooter__description {
    padding-bottom: 20px;
}

@media (max-width: 425px) {
    .app__videos {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}



/* ------ */
/* Topnav */
/* ------ */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-right {
    float: right;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}