<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <a><b style="font-size: 17.1px;">Vidzy</b></a>
    <div class="topnav-right">
        <a href="/upload">Upload</a>
        <a>{{ session.username }}</a>
    </div>
    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>



<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: calc(100% - 48px);
        width: 160px;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a:not(#special) {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover:not(#special) {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 720px) {
        .sidenav {
            display: none;
        }
    }
</style>

<div class="sidenav">
    <a href="/">For You</a>
    <a href="/explore">Explore</a>
    <a href="/users/{{ session.username }}">Profile</a>
    <a href="/settings">Settings</a>
    <p style="bottom: 0; position: absolute; padding: 5px;"><a id="special" href="/about">About</a><br><br><a id="special" href="https://codeberg.org/vidzy/vidzy">View source code</a><br><br>{{vidzy_version}}</p>
</div>